{% extends 'base.html' %}

{% block content %}
<div class="row m-0">

    <div class="col-11 p-custom">
        <div class="m-0 p-0 h-custom">


            <!-- ~~~~~~~~~~~~~~~~~~~~~ Main-Content-Start ~~~~~~~~~~~~~~~~~~~~~~ -->

            <div class="container-fluid h-custom pt-3 py-1 m-3 bg-light">
                <ul class="nav nav-pills nav-fill rounded border border-2">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#posts">Posts</a>
                    </li>
                </ul>

                
                <div class="tab-content mt-3">
                    
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ Event Post ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    
                    <div class="tab-pane fade show active" id="events">
                        <div class="scrolling">

                        {% for event in event_list %}
                            <!-- ~~~~~~~~~~~~~~~~~ 1st Event Post - Start ~~~~~~~~~~~~~~~~~ -->
                            
                            <div class="box mt-4 d-flex flex-column align-content-center border-bottom border-top">

                                <div class="row">

                                    <div class="row border-bottom">
                                        <div class="col-1 p-2 ps-3">
                                            <img class="rounded border border-danger rounded-circle" src="{{event.organizer.logo_picture.url}}" style="width: 70px; height: 70px;">
                                        </div>
                                        <div class="col-11 d-flex flex-column justify-content-center">
                                            <h2><a class="nav-link " style="color: black;" href="{% url 'users:profile_view' user_id=event.organizer.user.id %}">{{event.organizer}}v</a></h2>
                                            <p>Secondary Text</p>
                                        </div>
                                    </div>

                                    
                                    <div class="col-6 py-2">
                                        <div class="row" >
                                            <img src="{{event.image.url}}" alt="" srcset="" style="height: 400px; width: 590px;">
                                        </div>
                                    </div>
                                    
                                    <div class="col-6 d-flex flex-column p-0">
                                        
                                        <div>
                                            <div class="row p-1 py-0">
                                                <h3>{{event.title}}</h3>
                                            </div>
                                            
                                            <div class="row p-1 py-0">
                                                <p>{{event.description}}
                                                </p>
                                            </div>
                                            
                                            <div class="row p-1 py-0">
                                                <p><b>Date and time :</b>{{event.datetime}}</p>
                                            </div>
                                            
                                            <div class="row p-1 py-0">
                                                <p><b>Address : </b>{{event.location}}</p>
                                                </div>
                                            </div>
                                            
                                            <div class="mt-auto pb-1">
                                                <div class="row">
                                                    <div class="col-6 d-flex justify-content-start align-items-center p-1">
                                                        <div class="container">
                                                            {% if user.is_authenticated and user.is_volunteer %}
                                                                <form action="" method="post">
                                                                    {% csrf_token %}
                                                                    {% if user.volunteer in event.registered_volunteers.all %}
                                                                    <button class="btn btn-danger" name="unregister" value="{{event.id}}">Unregister</button>
                                                                    {% else %}
                                                                    <button class="btn btn-primary" name="register" value="{{event.id}}">Register</button>
                                                                    {% endif %}
                                                                </form>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-6 d-flex justify-content-around align-items-center fs-5">
                                                        <i class="fa-solid fa-heart heart-icon heartIcon"
                                                        style="color: #d5d0d0;"></i>
                                                        <i class="toggle-comment fa-regular fa-comment" style="color: #00BBFF;"></i>
                                                        <i class="fa-solid fa-share-nodes" style="color: #00BBFF;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="comment-section border-top p-1" style="display: none;">
                                        <h4>Comments</h4>
                                        <!-- Here you can include a form or display existing comments -->
                                    </div>
                                    
                                </div>
                                
                                <!-- ~~~~~~~~~~~~~~~~~ 1st Event Post - End ~~~~~~~~~~~~~~~~~ -->
                                
                                {% endfor %}
                        {% for event in event_list_2 %}
                            <!-- ~~~~~~~~~~~~~~~~~ 1st Event Post - Start ~~~~~~~~~~~~~~~~~ -->
                            
                            <div class="box mt-4 d-flex flex-column align-content-center border-bottom border-top">

                                <div class="row">

                                    <div class="row border-bottom">
                                        <div class="col-1 p-2 ps-3">
                                            <img class="rounded border border-danger rounded-circle" src="{{event.organizer.logo_picture.url}}" style="width: 70px; height: 70px;">
                                        </div>
                                        <div class="col-11 d-flex flex-column justify-content-center">
                                            <h2><a class="nav-link " style="color: black;" href="{% url 'users:profile_view' user_id=event.organizer.user.id %}">{{event.organizer}}v</a></h2>
                                            <p>Secondary Text</p>
                                        </div>
                                    </div>

                                    
                                    <div class="col-6 py-2">
                                        <div class="row" >
                                            <img src="{{event.image.url}}" alt="" srcset="" style="height: 400px; width: 590px;">
                                        </div>
                                    </div>
                                    
                                    <div class="col-6 d-flex flex-column p-0">
                                        
                                        <div>
                                            <div class="row p-1 py-0">
                                                <h3>{{event.title}}</h3>
                                            </div>
                                            
                                            <div class="row p-1 py-0">
                                                <p>{{event.description}}
                                                </p>
                                            </div>
                                            
                                            <div class="row p-1 py-0">
                                                <p><b>Date and time :</b>{{event.datetime}}</p>
                                            </div>
                                            
                                            <div class="row p-1 py-0">
                                                <p><b>Address : </b>{{event.location}}</p>
                                                </div>
                                            </div>
                                            
                                            <div class="mt-auto pb-1">
                                                <div class="row">
                                                    <div class="col-6 d-flex justify-content-start align-items-center p-1">
                                                        <div class="container">
                                                            {% if user.is_authenticated and user.is_volunteer %}
                                                                <form action="" method="post">
                                                                    {% csrf_token %}
                                                                    {% if user.volunteer in event.registered_volunteers.all %}
                                                                    <button class="btn btn-danger" name="unregister" value="{{event.id}}">Unregister</button>
                                                                    {% else %}
                                                                    <button class="btn btn-primary" name="register" value="{{event.id}}">Register</button>
                                                                    {% endif %}
                                                                </form>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-6 d-flex justify-content-around align-items-center fs-5">
                                                        <i class="fa-solid fa-heart heart-icon heartIcon"
                                                        style="color: #d5d0d0;"></i>
                                                        <i class="toggle-comment fa-regular fa-comment" style="color: #00BBFF;"></i>
                                                        <i class="fa-solid fa-share-nodes" style="color: #00BBFF;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="comment-section border-top p-1" style="display: none;">
                                        <h4>Comments</h4>
                                        <!-- Here you can include a form or display existing comments -->
                                    </div>
                                    
                                </div>
                                
                                <!-- ~~~~~~~~~~~~~~~~~ 1st Event Post - End ~~~~~~~~~~~~~~~~~ -->
                                
                                {% endfor %}
                            </div>
                        </div>
                        
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~ Event Post End ~~~~~~~~~~~~~~~~~~~~~~ -->
                        
                        
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ Normal Posts Start ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        
                        <div class="tab-pane fade" id="posts" style="width:89vw;">
                            <div class="scrolling">
                                {% for post in post_list %}

                                        <div class="box mt-4 d-flex flex-column align-content-center border-bottom border-top">
                                            
                                            <div class="row">
                                                
                                                <div class="row border-bottom">
                                                    <div class="col-1 p-2 ps-3">
                                                        {% if post.author.is_volunteer %}
                                                        <img class="rounded border border-danger rounded-circle" src="{{post.author.volunteer.profile_picture.url}}" style="width: 70px; height:70px">
                                                        {% else %}
                                                        <img class="rounded border border-danger rounded-circle" src="{{post.author.organization.logo_picture.url}}" style="width: 70px; height:70px">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-11 d-flex flex-column justify-content-center">
                                                        <h2><a class="nav-link" style="color: black;" href="{% url 'users:profile_view' user_id=post.author.id %}">{{post.author}}</a></h2>
                                                            <p>Secondary Text</p>
                                                    </div>
                                                </div>
                                                    
                                                    
                                                <div class="row">
                                                    <div class="col-6 py-2">
                                                        {% if post.image %}
                                                            <div class="row" >
                                                                <img src="{{post.image.url}}" alt="" srcset="" style="height: 400px; width: 590px;">
                                                            </div>
                                                        {% endif %}
                                                            
                                                    </div>
                                                        
                                                    <div class="col-6 d-flex flex-column p-0">
                                                        
                                                        <div class="row p-1 py-0">
                                                            <p><b>Caption:</b>{{post.caption}}
                                                            </p>
                                                        </div>
                                                            
                                                        <div class="row p-1">
                                                            <p><b>Event:</b>{{post.event}}</p>
                                                        </div>
                                                            
                                                        <div class="mt-auto py-3">
                                                            <div class="row">
                                                                <div class="col-3">
                                                                        
                                                                </div>
                                                                <div class="col-9 d-flex justify-content-around align-items-center fs-5">
                                                                    <i id="heartIcon" class="fa-solid fa-heart heart-icon"
                                                                        style="color: #d5d0d0;"></i>
                                                                    <i class="toggle-comment fa-regular fa-comment" style="color: #00BBFF;"></i>
                                                                    <i class="fa-solid fa-share-nodes" style="color: #00BBFF;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                                
                                            <div class="comment-section border-top p-1" style="display: none;">
                                                <h4>Comments</h4>
                                                <!-- Here you can include a form or display existing comments -->
                                            </div>
                                            
                                        </div>
                                        
                                {% endfor %}
                                            
                                {% for post in post_list_2 %}

                                        <div class="box mt-4 d-flex flex-column align-content-center border-bottom border-top">
                                            
                                            <div class="row">
                                                
                                                <div class="row border-bottom">
                                                    <div class="col-1 p-2 ps-3">
                                                        {% if post.author.is_volunteer %}
                                                        <img class="rounded border border-danger rounded-circle" src="{{post.author.volunteer.profile_picture.url}}" style="width: 70px; height:70px">
                                                        {% else %}
                                                        <img class="rounded border border-danger rounded-circle" src="{{post.author.organization.logo_picture.url}}" style="width: 70px; height:70px">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-11 d-flex flex-column justify-content-center">
                                                        <h2><a class="nav-link" style="color: black;" href="{% url 'users:profile_view' user_id=post.author.id %}">{{post.author}}</a></h2>
                                                            <p>Secondary Text</p>
                                                    </div>
                                                </div>
                                                    
                                                    
                                                <div class="col-6 py-2">
                                                    {% if post.image %}
                                                        <div class="row">
                                                            <img src="{{post.image.url}}" alt="" srcset="" style="height: 400px; width: 590px;">
                                                        </div>
                                                    {% endif %}
                                                        
                                                </div>
                                                    
                                                <div class="col-6 d-flex flex-column p-0">
                                                    
                                                    <div class="row p-1 py-0">
                                                        <p><b>Caption:</b>{{post.caption}}
                                                        </p>
                                                    </div>
                                                        
                                                    <div class="row p-1">
                                                        <p><b>Event:</b>{{post.event}}</p>
                                                    </div>
                                                        
                                                    <div class="mt-auto py-3">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                    
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-around align-items-center fs-5">
                                                                <i id="heartIcon" class="fa-solid fa-heart heart-icon"
                                                                    style="color: #d5d0d0;"></i>
                                                                <i class="toggle-comment fa-regular fa-comment" style="color: #00BBFF;"></i>
                                                                <i class="fa-solid fa-share-nodes" style="color: #00BBFF;"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                                    
                                            </div>
                                                
                                            <div class="comment-section border-top p-1" style="display: none;">
                                                <h4>Comments</h4>
                                                <!-- Here you can include a form or display existing comments -->
                                            </div>
                                            
                                        </div>
                                        
                                {% endfor %}
                                            
                            </div>
                        </div>
                    
                    
                    
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~ Normal Post End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    
                    
                </div>
            </div>

{% endblock content %}