.popup-container {
    transform: scale(0);
    position: fixed;
    top: 10%;
    right: -40%;
    width: 40%;
    height: auto;
    background-color: #00BBFF;
    transition: right 0.9s ease-in-out, transform 0.9s ease-in-out;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-container.active {
    right: 0%;
    transform: scale(1);
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} */

.wrapper{
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.5s ease, height 0.2s ease;
}

.container.active-popup{
    transform: scale(0);
}

.icon-close{
    position: absolute;
    top:0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #00BBFF;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: auto;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

/* for calculate button */
.btn-custom{
    background-color: white;
    border: 2px solid #00BBFF;
    color: #00BBFF;
}

.btn-custom:hover{
    background-color: #00BBFF;
    color: white;
}